appdirs
asgiref
black
certifi
cffi
charset-normalizer
click
colorama
cryptography
defusedxml
dj-rest-auth
Django
django-allauth
django-appconf
django-cors-headers
django-filter
django-select2
django-widget-tweaks
djangorestframework
flake8
holidays
idna
isort
mccabe
mypy-extensions
numpy
oauthlib
pandas
pathspec
Pillow
platformdirs
pycodestyle
pycparser
pyflakes
PyJWT
python-dateutil
python3-openid
pytz
regex
requests
requests-oauthlib
six
sqlparse
tomli
typing_extensions
tzdata
urllib3
drf_yasg
psycopg2-binary
whitenoise