{% extends "registration/account_base.html" %}
{% block content %}
<div class="row justify-content-center">
    <span class="login100-form-title">Reset Your Password</span>
    <span class="login100-form-subtitle">Enter your email address to receive a password reset link.</span>
    

    <form class="login100-form" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <input class="input100" id="id_email" name="email" type="email" placeholder="Enter your email address">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>
            {% comment %} <label for="id_email" class="form-label">Email Address</label>
            <input type="email" name="email" id="id_email" class="form-control" required> {% endcomment %}
        </div>
        <button type="submit" class="login100-form-btn">Send Reset Link</button>
    </form>
</div>
{% endblock content %}