{% extends "registration/account_base.html" %}
{% load i18n static %}
{% block content %}

{% if validlink %}

{% comment %} <div class="container mt-5">
    <div class="row justify-content-center"> {% endcomment %}
        {% comment %} <div class="col-md-6"> {% endcomment %}
            <span class="login100-form-title">{% translate "Reset Your Password" %}</span>
            <span class="login100-form-subtitle">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</span>
            <form method="post" class="login100-form">{% csrf_token %}
                <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                <div class="wrap-input100 validate-input" data-validate="New Password">
                    <input class="input100" id="id_new_password1" name="new_password1" type="password" placeholder="Enter your new password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                    {% if form.new_password1.errors %}
                        <div class="text-danger">{{ form.new_password1.errors }}</div>
                    {% endif %}
                </div>
                <div class="wrap-input100 validate-input" data-validate="Confirm Password">
                    <input class="input100" id="id_new_password2" name="new_password2" type="password" placeholder="Confirm new password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                    {% if form.new_password2.errors %}
                        <div class="text-danger">{{ form.new_password2.errors }}</div>
                    {% endif %}
                </div>

                {% comment %} <div class="mb-3">
                    <label for="id_new_password1" class="form-label">{% translate "New Password" %}</label>
                    <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
                    
                </div> {% endcomment %}

                {% comment %} <div class="mb-3">
                    <label for="id_new_password2" class="form-label">{% translate "Confirm Password" %}</label>
                    <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                    {% if form.new_password2.errors %}
                        <div class="text-danger">{{ form.new_password2.errors }}</div>
                    {% endif %}
                </div> {% endcomment %}

                <button type="submit" class="login100-form-btn">{% translate "Change My Password" %}</button>
            </form>
        {% comment %} </div> {% endcomment %}
    {% comment %} </div>
</div> {% endcomment %}

{% else %}

<div class="container mt-5 text-center">
    <p class="text-danger">
        {% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
    </p>
    <a href="{% url 'password_reset' %}" class="btn btn-warning">{% translate "Request New Password Reset" %}</a>
</div>

{% endif %}

{% endblock %}
