{% extends "registration/account_base.html" %}
{% load i18n %}
{% block content %}
<span class="login100-form-title">Email Sent</span>
<p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

<p class="my-3">{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

<div class="text-center mt-3">
    <a href="{% url 'login' %}" class="login100-form-btn">Back to Login</a>
</div>

{% endblock %}