{% extends 'base.html' %}


{% block title %}

  {% if object %}
    Update {{ object }}
  {% else %}
    Add new student
  {% endif %}

{% endblock title %}


{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% include 'corecode/form_snippet.html' %}

  {% if object %}
    <input type="submit" class="btn btn-primary" value="Update Record">
  {% else %}
    <input type="submit" class="btn btn-primary" value="Save">
  {% endif %}
</form>


{% endblock content %}
{% block morejs %}
<script>
  $(function() {
      $('#id_uses_transport').change(function() {
          if (this.checked) {
              $('#id_route').closest('.form-group').show();
              $('#id_pickup_drop_location').closest('.form-group').show();
              $('#id_pickup_time').closest('.form-group').show();
              $('#id_drop_time').closest('.form-group').show();
          } else {
              $('#id_route').closest('.form-group').hide();
              $('#id_pickup_drop_location').closest('.form-group').hide();
              $('#id_pickup_time').closest('.form-group').hide();
              $('#id_drop_time').closest('.form-group').hide();
          }
      }).trigger('change'); // trigger on page load
  });
</script>
{% endblock morejs %}

