{% load widget_tweaks %}  

{% for field in form %}
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="{{ field.auto_id }}">
      {{ field.label }}
      {% for error in field.errors %}
        <small id="{{ field.auto_id }}" class="text-danger">{{ error }}</small>
      {% endfor %}
    </label>
    <div class="col-sm-9">
      {% if field.name == "selected_person" %}
        {{ field|add_class:"form-control select2" }}
      {% else %}
        {{ field|add_class:"form-control" }}
      {% endif %}
      {% if field.help_text %}
        <small>{{ field.help_text|safe }}</small>
      {% endif %}
    </div>
  </div>
{% endfor %}

{{ form.media }}  <!-- Ensure Select2 JS is loaded -->
