{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
  {{title}}
{% endblock title %}


{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <form method="POST">
        {% csrf_token %}
        {% include 'corecode/form_snippet.html' %}

        {% if object %}
          <input type="submit" class="btn btn-primary" value="Update Record">
        {% else %}
          <input type="submit" class="btn btn-primary" value="Save">
        {% endif %}


      </form>
    </div>
  </div>

{% endblock content %}


